<%include partials/header%>
</div>
<div class="jumbotron text-center">
  <div class = "container">
    <h1 class="display-2">My Blogs!</h1>
    <%if(currentUser){%>
      <a class="btn btn-light btn-lg" href="/blogs/new" role="button">Add New Post</a> 
    <% } %>
  </div>

</div>
<div class = "container">

<div class = "display-1 text-center">Error 404:</div>
<div class = "display-4 text-center">Looks like the page does not exist</div>


<%include partials/footer%>

 