<%include partials/header%>
<div class = "wrapper">
    <form class = "form-signin" action = "/register" method = "POST">
        <h2 class="form-signin-heading text-center">Sign Up</h2>
        <input class = "form-control" type = "text" name = "username" placeholder="Username">
        <input class = "form-control" type = "password" name = "password" placeholder="Password">
        <button class="btn btn-primary btn-lg btn-block">Sign Up</button>
    </form>
</div>
<%include partials/footer%>
